/* ---------------------------------------------------------
CSS - Periodic Table Trivia Game
--------------------------------------------------------- */

/* NEEDS some serious refactoring sweep to clean up and consolidate */

.container { 
  /* background-color: lightgray; */
  width: 100%;
  height: auto;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  opacity: 95%;
  background-color: none;
}

body {
  background-image: url(../images/the-periodic-table-1200.jpeg);
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
  background-origin: center;
  width: 100%;
  /* max-width: 960px; */
  min-width: 320px;  /* why is this not working ? */
  height: auto;
  /* max-width: 960px; */
  margin-left: auto;
  margin-right: auto;
  /* to support the fixed bootstrap nav bar */
  padding-top: 56px;
}

#start-restart, #next-quiz {
  width: 100px;
}
.jumbotron {
  margin-top: 40px;
  /* width: 600px; */
  visibility: visible;
  /* background: rgba(194,196,197, 0.85); */
  
  background-color: rgba(190, 183, 171, 1.0);
  font-weight: bolder;
  margin-left: 5%;
  margin-right: 5%;
}

.lead {
  font-size: 1.4 rem;
}

#info-line {  
  font-weight: 400;
}

/* #para2 {
  margin-top: 40px;
  padding: 10px;
  background-color: rgba(190,183,171,.85);
  margin-left: 5%;
  margin-right: 5%;
} */

nav {
  background-color: #7e7058;
}

nav-item {
  margin-right: 10px;
  margin-top: 10px;
}

#header {
width: 100%;
margin-left: auto;

}

.btn {
margin-left: 10px;
float: right;
/* position: relative;
float: right; */
}

#timer {
  color: #818182;
  /* font-weight: 600;
  font-size: 18px; */
  width: 100px;
  margin: auto;
  text-align: center;
  padding: 5px;
  background-color: #fdfdfe;
  /* border: 1px solid #7e7058; */
  border-radius: .25rem;
}

.list-group-item {
  text-align: center;
}

.list-group-item-action {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  /* border: none; */
  border-radius: .25rem;
  margin-bottom: -1px;
}

.hide-container {
  display: none;
}

 
#inner-container-2 {
  /* display: none; */
  height: 164px;
  padding: 40px 10px 10px 10px;
  font-size: 16px;
  text-align: center;
  color: #818182;
  border-radius: .25rem;
  background-color: #fdfdfe;
  margin-bottom: 0px;
}



.progress {
  margin-top: 10px;
}  

#key {
  /* display: none; */
  padding: 5px;
  font-size: 10px;
  text-align: center;
  color: #818182;
  border-radius: .25rem;
  background-color: #fdfdfe;
  margin-top: 10px;
}
/* media query section */


/* First breakpoint - these rules take effect at maximum browser's width
   of 575px */
   @media screen and (max-width: 575px) {
  
    body {
      padding-top: 96px;
    }

    #inner-container-2 {
      font-size: 12px;
    }

    h1.display-4 {
      font-size: 36px;
    }
  }

